* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

li {
  background-color: #FFFFFF;
  height: 200px;
  border: 1px solid black;
  box-sizing: content-box;
  list-style-type: none;
  margin: 10px 0 20px;
  
 }

main {
  display: flex;
  width: 100%;
}

p {
 color: white;
}

.main-left {
  display: inline-block;
  background-color: #455A64;
  width: 50vw;
  height: 100vh;
}

.main-container {
  margin: 0 auto;
  background-color: #455A64;
  box-sizing: border-box;
  width: 50vw%;
}

.title-input {
  margin: 30% 0 40px;
  color: #FFFFFF;
  text-align: center;
  font-size: 54px;
  font-weight: 800;
}

.input-logo {
  vertical-align: middle;
  width: 20%;
  padding-bottom: 11px;
}

.main-URL-input-field,
.title-input-field {
  margin-bottom: 58px;
  margin-left: 1.4em;
  color: #445A64;
  width: 90%;
  height: 45px;
  padding: 1px 0 1px 15px;
  font-size: 30px;
  outline: none;
}

.main-URL-input-field::placeholder,
.title-input-field::placeholder::placeholder {
  color: #BDBFC1;
  font-size: 30px;
}

.enter-button {
  background-color: #FFC107;
  color: #FFFFFF;
  width: 90%;
  height: 45px;
  margin-left: 2.1em;
  margin-bottom: 20px;
  outline: none;
  font-size: 20px;
  font-weight: 800;
}

.enter-button:hover {
  background-color: #FFD773;
}

.display-container {
  background-color: #CFD8DC;
  width: 51%;
  display: inline-block;
  overflow-x: scroll;
  vertical-align: top;
  padding: 10px 20px;
}

.card-list{
  color: #445A64;
  margin-top: 5px;
  margin-left: 16px;
  font-weight: 800;
  font-size: 30px;
  width:92%;
  border-bottom: solid;
  border-width: 2px;
  border-color: #CFD8DC;
  padding-bottom: 20px;
  padding-left: 10px;
}

.card-link {
  display: block;  
  color: #607D8B;
  margin-top: 10px;
  margin-left: 16px;
  width: 92%;
  font-size: 22px;
  text-decoration: underline #F2F4F4;
  border-bottom: solid;
  border-width: 2px;
  border-color: #CFD8DC;
  padding-bottom: 20px;
  padding-left: 10px;
}

.card-button:hover,
.card-link:hover
 {
  text-decoration: underline #FFC107;
  font-weight: 800;
  cursor: pointer;
} 

.card-button { 
  color: #445A64;
  color: none;
  text-decoration: underline #F2F4F4;
  border: none;
  outline: none;
  font-size: 14px;
}

.card-button-read {
  left: 10px;
  top: 50px;
  background-color: transparent;
  color: #455A64;
  margin: 45px 10px;
  }

.card-button-read-clicked {
  background-color: #F2F4F4;
}

.card-button-read: active{
  background-color: #F2F4F4
  font-weight: 800; 
}

.card-button-delete {
  float: right;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 45px 10px;
}

.card-button-delete-read {
  background-color: transparent;
}

.read {
  background-color: #F2F4F4;
}







